{% extends 'base.html.twig' %}

{% block title %}Village Green{% endblock %}

{% block body %}
    <div class="container">
        <div class="row p-4">
            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                <img class="w-100" height="500" src="/assets/images/BODY/pub_guitare.png">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 d-lg-block d-xl-block d-none p-0">
                <img class="w-100" height="500" src="/assets/images/BODY/banniere droite prix.png">
            </div>
        </div>

        <div class="row">
            <img class="img-fluid" src="/assets/images/BODY/banniere centre 4 pictos.png">
        </div>

        <div class="row p-4">
            <h2>Nos Catégories</h2>
        </div>
        <div class=" row pt-2 pb-2">
            {% set count = 0 %}
            {% for category in categories %}
                {% if count < 8 %}
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 p-1">
                        <div class="overlay-image">
                            <a href="{{ path('subcatlist', { id: category.id}) }}">
                                <img class="image" src="/assets/images/BODY/CATS/{{ category.picture }}"
                                     alt="{{ category.name }}" height="183"/>
                                <div class="hover">
                                    <div class="cathover  border border-dark">
                                        {{ category.name }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% set count = count+1 %}
                {% endif %}
            {% endfor %}
        </div>
    </div>


{% endblock %}
