{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créez un nouveau produit</h1>

        {{ include('admin_prod/_form.html.twig') }}

        <a class="btn btn-secondary" href="{{ path('admin_prod_index') }}">Retout vers la liste</a>
    </div>
{% endblock %}
